.addbtn{
  border-radius: 10px;
  background-color: #f8dc88;
  color: white;
  padding: 3px;
  box-shadow: none;
}
.twbox{
  display: flex;
  flex-direction:column;
}
.textarea{
  max-width: 70%
}

.mar{
  margin: 10px
}